h1{
    color: red;
}
p{
    color: aqua;
    font-weight: bold;
}
.div2{
    height: 300px;
    width: 150px;
    background-color: blueviolet;
}
.div1{
    height: 300px;
    width: 150px;
    background-color: rgb(0, 240, 120);
}